<?xml version="1.0"?>
<config>
    <modules>
        <Openstream_RappenRounding>
            <version>0.2.2</version>
        </Openstream_RappenRounding>
    </modules>
    <global>
        <models>
            <rappenrounding>
                <class>Openstream_RappenRounding_Model</class>
            </rappenrounding>
            <core>
                <rewrite>
                    <store>Openstream_RappenRounding_Model_Store</store>
                </rewrite>
            </core>
            <tax>
                <rewrite>
                    <sales_total_quote_subtotal>Openstream_RappenRounding_Model_TaxSalesTotalQuoteSubtotal</sales_total_quote_subtotal>
                </rewrite>
            </tax>
            <sales>
                <rewrite>
                    <quote_address_total_grand>Openstream_RappenRounding_Model_SalesQuoteAddressTotalGrand</quote_address_total_grand>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <rappenrounding>
                <class>Openstream_RappenRounding_Helper</class>
            </rappenrounding>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Openstream_RappenRounding>
                    <files>
                        <default>Openstream_RappenRounding.csv</default>
                    </files>
                </Openstream_RappenRounding>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <currency>
            <rappenrounding>
                <enabled>1</enabled>
                <where>all</where>
                <enabled_for_currencies>CHF</enabled_for_currencies>
            </rappenrounding>
        </currency>
    </default>
</config>